In [11]:

import pandas as pd

from imblearn.over_sampling import SMOTE
# Load dataset (upload to Colab or place in working directory)
df = pd.read_csv("./datasets/k2pandc_2025.10.03_14.48.30.csv")

print(f"Initial dataset shape: {df.shape}")

# Save
df.to_csv("step1_loaded.csv", index=False)
print("Saved: step1_loaded.csv")

ModuleNotFoundError: No module named 'imblearn'

In [10]:

# # Save
df.to_csv("step2_no_missing_labels.csv", index=False)
print("Saved: step2_no_missing_labels.csv")

Saved: step2_no_missing_labels.csv

In [25]:

from imblearn.over_sampling import SMOTE

def clean_label(val):
    if isinstance(val, str):
        val = val.lower()
        if "conf" in val or "cp" in val or "pc" in val:  # confirmed/planet candidate
            return 1
        elif "false" in val or "fp" in val or "not" in val or "rej" in val:
            return 0
    return None

# --- Step 1: Clean labels ---


# --- Step 2: Remove duplicates ---
df = df.drop_duplicates().reset_index(drop=True)
print("Removed duplicates → dataset shape:", df.shape)

# --- Step 3: Apply SMOTE to balance classes ---
df
# X = df.drop(columns=["label", "label_clean"])
# y = df["label_clean"]

# smote = SMOTE(random_state=42)
# X_resampled, y_resampled = smote.fit_resample(df, df)

# print("After SMOTE → balanced dataset shape:", X_resampled.shape)
# print("Class distribution after SMOTE:\n", pd.Series(y_resampled).value_counts())

# # --- Step 4: Save final dataset ---
# final_df = pd.DataFrame(X_resampled, columns=X.columns)


# final_df.to_csv("step4_cleaned_balanced.csv", index=False)
# print("Saved: step4_cleaned_balanced.csv")

Removed duplicates → dataset shape: (4004, 295)

,rowid,pl_name,hostname,pl_letter,k2_name,epic_hostname,epic_candname,hd_name,hip_name,tic_id,...,releasedate,pl_nnotes,k2_campaigns,k2_campaigns_num,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,BD+20 594 b,BD+20 594,b,K2-56 b,EPIC 210848071,EPIC 210848071.01,NaN,NaN,TIC 26123781,...,2018-02-15,1,4,1.0,0,0,0,0,0,0
1,2,BD+20 594 b,BD+20 594,b,K2-56 b,EPIC 210848071,EPIC 210848071.01,NaN,NaN,TIC 26123781,...,2016-07-28,1,4,1.0,0,0,0,0,0,0
2,3,BD+20 594 b,BD+20 594,b,K2-56 b,EPIC 210848071,EPIC 210848071.01,NaN,NaN,TIC 26123781,...,2018-04-26,1,4,1.0,0,0,0,0,0,0
3,4,EPIC 201111557.01,EPIC 201111557,NaN,NaN,EPIC 201111557,EPIC 201111557.01,NaN,NaN,TIC 176942156,...,2018-08-02,0,10,1.0,0,0,0,0,0,0
4,5,EPIC 201111557.01,EPIC 201111557,NaN,NaN,EPIC 201111557,EPIC 201111557.01,NaN,NaN,TIC 176942156,...,2018-02-15,0,10,1.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,4000,WASP-85 A b,WASP-85 A,b,K2-94 b,EPIC 201862715,EPIC 201862715.01,NaN,NaN,TIC 380619414,...,2019-09-05,1,1,1.0,0,0,0,0,0,0
4000,4001,Wolf 503 b,Wolf 503,b,K2-262 b,EPIC 212779563,NaN,NaN,HIP 67285,TIC 187278212,...,2022-05-23,0,17,1.0,1,0,0,0,0,0
4001,4002,Wolf 503 b,Wolf 503,b,K2-262 b,EPIC 212779563,NaN,NaN,HIP 67285,TIC 187278212,...,2018-09-06,0,17,1.0,1,0,0,0,0,0
4002,4003,Wolf 503 b,Wolf 503,b,K2-262 b,EPIC 212779563,NaN,NaN,HIP 67285,TIC 187278212,...,2023-04-17,0,17,1.0,1,0,0,0,0,0
4003,4004,Wolf 503 b,Wolf 503,b,K2-262 b,EPIC 212779563,NaN,NaN,HIP 67285,TIC 187278212,...,2025-08-28,0,17,1.0,1,0,0,0,0,0

In [32]:
import os
import lightkurve as lk
import matplotlib.pyplot as plt

target_name = "TOI-181"
mission = "TESS"
output_dir = "figures"
output_file = "toi181_lightcurve.png"

os.makedirs(output_dir, exist_ok=True)

print(f"Searching for {target_name} from {mission}...")
sr = lk.search_lightcurve(target_name, mission=mission)

Searching for TOI-181 from TESS...

In [30]:
sr[0].ra

array([352.17195916])

In [36]:
sr[0].download

<bound method SearchResult.download of SearchResult containing 1 data products.

 #     mission     year author exptime target_name distance
                                  s                 arcsec
--- -------------- ---- ------ ------- ----------- --------
  0 TESS Sector 02 2018   SPOC     120    76923707      0.0>

In [60]:
from lightkurve import search_targetpixelfile
pixelfile = search_targetpixelfile("KIC 8462852", quarter=16).download();
pixelfile

KeplerTargetPixelFile Object (ID: 8462852)

In [67]:
plt.close()
pixelfile.plot(frame=1);